name: Release

on:
  release:
    #types: [prereleased,published]
    types: [published]

jobs:
  release_zip_file:
    name: Prepare release asset
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Get version
        id: version
        uses: home-assistant/actions/helpers/version@master

      - name: "Update manifest.json"
        run: |
          python3 ${{ github.workspace }}/manage/update_manifest.py --version ${{ steps.version.outputs.version }}

      - name: Create zip
        run: |
          cd custom_components/volkswagencarnet
          zip volkswagencarnet.zip -r ./

      - name: Upload zip to release
        uses: svenstaro/upload-release-action@2.3.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./custom_components/volkswagencarnet/volkswagencarnet.zip
          asset_name: volkswagencarnet.zip
          tag: ${{ github.ref }}
          overwrite: true
