name: Release Drafter

on:
  push:
    branches:
      - master

jobs:
  update_release_draft:
    #name: Create Release
    runs-on: ubuntu-latest
    steps:
      # - name: Checkout code
      #   uses: actions/checkout@v2
      #   # with:
      #   #   fetch-depth: 0

      - name: Create Release
        id: create_release
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


